:root {
  --main-color: #7fff7f;
  --error-color: #fe3c45;
  --hover-buy: #48995d;
  --hover-sell: #d9373f;
  --hover-info: #218bdf;
  --background-color: #1e1e29;
  --second-background: #2c2c3c;
  --third-background: #373749;
  --fourth-background: #1e1e29;
  --package-border: #454559;
  --border: 5px;
  --primary-text-color: #ffffff;
  --secondary-text-color: #aeaeae;
  --green-button: #4da564;
  --font-family: Montserrat, sans-serif;
  --opacity-image: 0.8;
  --blur-image: 5px;
  --accent-color: #ca6201;
  --link-color: #007bff;
  --highlight-color: #ff6b6b;
  --dark-text-color: #333333;
  --light-text-color: #f5f5f5;
  --neutral-color: #cccccc;
  --shadow-color: rgba(255, 107, 255, 0.5);
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  min-width: 300px;
}

header {
  background: url('https://www.xtrafondos.com/wallpapers/diseno-de-paisaje-del-espacio-5771.jpg');
  background-repeat: none;
  background-position: left;
  padding: 20px;
  height: 5%;
  box-shadow: 0px 0px 20px var(--shadow-color);
}

footer {
  background-color: var(--second-background);
  padding: 20px;
  background-repeat: none;
  background-position: right;
}

main {
  padding: 20px;
}

h1, h3 {
  color: var(--hover-buy);
  text-align: center;
}

h4 {
  color: var(--neutral-color);
  margin: 20px;
  justify-content: space-between;
}

.subtitles {
  width: auto;
  border-radius: var(--border);
  background-color: var(--green-button);
}

.book-list-item-title-img {
  margin: auto;
  display: block;
  max-width: 50%;
  max-height: 50%;
  cursor: default;
  border-radius: 5px;
}

.book-list-item-details-p,
.book-list-item-details-desc-p {
  color: var(--secondary-text-color);
  font-weight: 700;
  text-align: center;
  margin: 10px 0;
  word-break: break-all;
}

.book-list-item {
  background: var(--third-background);
  border-radius: 5px;
  border: 1px solid var(--package-border);
  padding: 20px;
  margin: 10px;
  min-height: 200px;
  max-width: 500px;
  box-shadow: 0px 0px 10px rgba(255, 107, 255, 0.5);
  width: 100%;
}

.book-zone {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.buttonSee {
  height: 40px;
  width: 100%;
  border-radius: var(--border);
  border: none;
  background-color: var(--green-button);
}

#return-button {
  background-color: rgba(0, 0, 0, 0);
  width: 100px;
  height: 100px;
  border: none;
  position: absolute;
}

#return-button svg {
  color: var(--background-color);
  height: 50%;
  width: 50%;
}

#return-button svg:hover {
  scale: 1.10;
}

#return-button svg:active {
  scale: 1;
}

.buttonSee:hover {
  background-color: var(--hover-buy);
  box-shadow: 2px 2px 2px var(--second-background);
  cursor: pointer;
}

.buttonSee:active {
  background-color: var(--hover-buy);
  box-shadow: 2px 2px 2px var(--second-background);
  scale: 0.97;
}